html {
    font-family: Montserrat;
}

.carousel {
    align-items: center;
    display: flex;
}

#carousel-items-other-best-movies,
#carousel-items-category-one,
#carousel-items-category-two,
#carousel-items-category-three {
    display: flex;
    padding: 1rem 0;
    overflow: hidden;
    list-style-type: none;
    scroll-behavior: smooth;
}
.carousel-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: transform .2s;
}

.carousel-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}


#slideLeftOthersBestMovies, 
#slideRightOthersBestMovies,
#slideLeftCategoryOne,
#slideRightCategoryOne,
#slideLeftCategoryTwo,
#slideRightCategoryTwo,
#slideLeftCategoryThree,
#slideRightCategoryThree {
    background: #262626;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    transition: opacity 0.25s;
    opacity: 0.1;
    height: 270px;
}

#slideLeftOthersBestMovies:hover, 
#slideRightOthersBestMovies:hover,
#slideLeftCategoryOne:hover,
#slideRightCategoryOne:hover,
#slideLeftCategoryTwo:hover,
#slideRightCategoryTwo:hover,
#slideLeftCategoryThree:hover,
#slideRightCategoryThree:hover {
    opacity: 0.5;
}